export YAKU_API_TOKEN=<your-token-goes-here>

# Optional parameters
export YAKU_NAMESPACE_ID=<your-namespace-id-goes-here> # Default: 1
export YAKU_BASE_URL=<your-service-url-goes-here> # Default: http://localdev.me:3000/api/v1
