{
  "sourceMaps": "inline",
  "module": {
    "type": "commonjs",
    "strictMode": true,
    "noInterop": true
  },
  "jsc": {
    "externalHelpers": false,
    "target": "es3",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": false,
      "react": {
        "throwIfNamespace": false,
        "useBuiltins": false,
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "importSource": "react"
      }
    },
    "keepClassNames": false
  }
}
