<h2>Summary</h2>
<div class="marked">
<h4>Overall Status: <%- include('status-icon.ejs', { status: overallStatus }) %></h4> 
<%- include('qg-result-table.ejs', { 
  emptyListMessage: 'All checks passed.',
  sortedChapters: utils.sortedObjectEntries(chapters).map(([id, chapter]) => ({
    ...chapter,
    id,
    requirements: Object.fromEntries(Object.entries(chapter.requirements).filter(([, requirement]) => ['RED', 'FAILED', 'ERROR', 'SKIPPED', 'YELLOW'].includes(requirement.status) || (requirement.status === 'UNANSWERED' && !utils.hideUnanswered)))
  })).filter((chapter) => Object.entries(chapter.requirements).length > 0)
}) %>
</div>

<h2>Details</h2>
<%- include('qg-result-table.ejs', { 
  sortedChapters: utils.sortedObjectEntries(chapters).map(([id, chapter]) => ({
    ...chapter,
    id,
  })),
  showRequirementText: true
}) %>
