common --@aspect_rules_ts//ts:skipLibCheck=always
build:ci --build_metadata=ROLE=CI
build:ci --bes_results_url=https://app.buildbuddy.io/invocation/
build:ci --bes_backend=grpcs://remote.buildbuddy.io
build:ci --remote_cache=grpcs://yaku.buildbuddy.io
build:ci --remote_timeout=3600
build:ci --experimental_remote_cache_compression
build:ci --experimental_remote_cache_compression_threshold=100
build:ci --nolegacy_important_outputs
build:ci --remote_executor=grpcs://yaku.buildbuddy.io
build:ci --jobs=50
build:ci --noslim_profile
build:ci --experimental_profile_include_target_label
build:ci --experimental_profile_include_primary_output