export SPLUNK_HOST=splunk_host
export SPLUNK_PORT=15125
export SPLUNK_USERNAME=username
export SPLUNK_PASSWORD=password
export SPLUNK_APP=splunk_app
export SPLUNK_QUERY=some_query
export SPLUNK_FILE=file_with_splunk_query # gets ignored if SPLUNK_QUERY is set
export SPLUNK_OUTPUT_FORMAT=json # csv or xml # optional
export SPLUNK_ONEQ_UPLOAD=false # optional
export SPLUNK_ONE_SHOT=true # optional
export SPLUNK_START_TIME=MM-DD-YY # optional
export SPLUNK_END_TIME=MM-DD-YY
export SPLUNK_RESULT_FILE=output_path # optional