/*
 * SPDX-FileCopyrightText: 2024 grow platform GmbH
 *
 * SPDX-License-Identifier: MIT
 */

.onboarding-element-without-focus {
  position: absolute;
  top: 15%;
  left: 50%;
}

.top-80 {
  top: 80%;
}

.top-50 {
  top: 50%;
}
