apiVersion: v1
kind: Service
metadata:
  name:  {{ include "yaku.fullname" . }}
  labels:
  {{- include "yaku.labels" . | nindent 4 }}
  {{- with .Values.service.labels }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
      protocol: {{ .Values.service.protocol }}
  selector:
    {{- include "yaku.selectorLabels" . | nindent 4 }}
    {{- with .Values.additionalSelectorLabels}}
    {{- toYaml . | nindent 4 }}
    {{- end }}