node_modules
dist
tmp
.DS_Store
gen
tools/openapi-generator-cli-*
**/.tool-versions
**/log
evidence
.env*
*.envrc
qgaas-data-storage
creation.log
debug.log
service-monitor-result.json
final-status.txt
**/coverage
**/results
**/cli-package
**/aqua-cli.zip
**/yaku-cli.zip
.turbo
.idea
thunder-tests/
data
qg-api-service/oss/src/*.zip
.devcontainer
